.wrapper {
  min-height: 100vh;
  display: flex;
  background: #fafafa;
}
.contentArea {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
  margin-left: 245px;
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .main {
    margin-left: 0;
    padding: 16px;
  }
}
