.sidebar {
  width: 245px;
  min-width: 245px;
  height: 100vh;
  border-right: 1px solid #dbdbdb;
  background: #fff;
  padding: 20px 14px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1400;
}

.top {
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  margin-bottom: 30px;
  padding: 8px 10px;
}

.logo {
  width: 110px;
  height: auto;
  display: block;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #262626;
  font-size: 15px;
  padding: 12px 10px;
  border-radius: 10px;
  transition: background 0.2s ease;
}

.navItemButton {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 12px;
  box-sizing: border-box;

  color: #262626;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  background: transparent;
  border: none;
  cursor: pointer;
  text-align: left;

  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}
.navItemButton:hover {
  background: #f2f2f2;
}
.navItem:hover {
  background: #f2f2f2;
}

.navItem img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.profileCircle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #262626;
  display: inline-block;
}

.active span {
  font-weight: 700;
}
.active img {
  transform: scale(1.03);
}
@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
